*~
controller_yoga/manifests/params.pp
controller_yoga/files/CloudVenetoCAs.pem 
controller_yoga/files/id_rsa_ctrl-01
controller_yoga/files/id_rsa_controller-01
controller_yoga/files/INFN-CA.pem
controller_yoga/files/cafile.pem
controller_yoga/files/ceph.conf
controller_yoga/files/ceph-ec.conf
controller_yoga/files/ceph.client.cinder-prod.keyring
controller_yoga/files/ceph.client.cinder-cloudtest.keyring
controller_yoga/files/ceph.client.glance-prod.keyring
controller_yoga/files/ceph.client.glance-cloudtest.keyring
compute_yoga/manifests/params.pp
compute_yoga/files/CloudVenetoCAs.pem 
compute_yoga/files/id_rsa_ctrl-01
compute_yoga/files/id_rsa_controller-01
compute_yoga/files/INFN-CA.pem
compute_yoga/files/cafile.pem
compute_yoga/files/ceph.conf
compute_yoga/files/nagios_check_ovs.sh
compute_yoga/files/check_kvm_wrapper.sh
compute_yoga/files/secret.xml
compute_yoga/files/secret_test.xml
